################################################
# Git Ignore for the life-leveling-cpp project #
################################################

# Binary dir(s)
[Bb]uild
[Oo]ut

# VS Code files/folders
.vscode

